# .gitignore

## Mac ##
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*

## backup,log ##
*~
~*
*.swp
.swp.*
*.tmp
*.bak
*.old
*.log
.cache/
*.autosave

## Vim ##
*.un~
Session.vim
.netrwhist
